:root {
  --text-color: #212121;
  --active-color: #ffffff;
  --section-color: #2f303a;
  --web-color: #2196f3;
  --contact-color: rgba(255, 255, 255, 0.6);
  --main-font: "Roboto";
  --accent-font: "Raleway";
  --button-background: #f5f4fa;
  --border-color: #ececec;
  --main-text-color: #757575;
  --order-bottom-active: #188ce8;
  --icon-color: #afb1b8;
  --second-color: rgba(33, 33, 33, 1);
  --portfolio-color: #eeeeee;
  --link-color: rgba(255, 255, 255, 0.1);
  --products-title: rgba(255, 255, 255, 1);
  --products-background: rgba(47, 48, 58, 0.8);
  --active-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  --decor-color: rgba(33, 150, 243, 1);
  --box-shadow: rgba(0, 0, 0, 0.15);
  --user-background: rgba(47, 48, 58, 1);
  --user-border: rgba(255, 255, 255, 0.3);
  --comment-color: rgba(24, 140, 232, 1);
  --placeholder-color: rgba(117, 117, 117, 0.5);
  --input-color: rgba(33, 33, 33, 0.2);
  --modal-color: rgba(0, 0, 0, 0.1);
  --active-description: rgba(33, 150, 243, 0.9);
  --active-shadow: rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  --third-shadow: rgba(0, 0, 0, 0.2);
  --first-shadow: rgba(0, 0, 0, 0.12);
  --second-shadow: rgba(0, 0, 0, 0.14);
  --last-shadow: rgba(0, 0, 0, 0.06);
  --color-shadow: rgba(0, 0, 0, 0.16);
  --team--text: rgba(117, 117, 117, 1);
}

body {
  font-family: var(--main-font);
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

h1, h2, h3, p, li {
  margin: 0;
}

.a {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

.container {
  width: 100%;
  padding: 0 15px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 480px) {
  .section {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .section {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .section {
    width: 1200px;
    padding-top: 90px;
    padding-bottom: 90px;
  }
}

img,
a,
b {
  display: block;
}

.link {
  text-decoration: none;
  color: inherit;
  transition: color 250ms;
}

.navigation__logo {
  color: var(--web-color);
  padding-top: 16px;
  padding-bottom: 16px;
}

@media screen and (mix-width: 768px) {
  .navigation__box {
    display: flex;
  }
}

@media screen and (min-width: 768px) {
  .nav {
    display: flex;
  }
}

.header {
  box-sizing: border-box;
  border-bottom: 1px solid #ececec;
  font-weight: 500;
  font-family: "Roboto";
  font-size: 14px;
  line-height: 1.1721;
  background: var(--active-color);
  color: var(--text-color);
  margin: 0 auto;
  align-items: center;
  position: relative;
}

@media screen and (max-width: 767px) {
  .header {
    height: 60px;
  }
}

.header .container {
  display: flex;
  align-items: baseline;
}

.navigation a {
  display: inline-block;
  margin: 0;
  padding-bottom: 32px;
  padding-top: 32px;
}

.header a {
  display: inline-block;
}

.navigation .navigation__text {
  display: block;
  font-family: var(--accent-font);
  padding-top: 24px;
  padding-bottom: 25px;
  margin-right: 93px;
  margin-top: 0;
  margin-left: 0;
  margin-bottom: 0;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.1738;
}

.header .nav a {
  display: flex;
  align-items: center;
  margin-top: 0;
  margin-bottom: 0;
  padding-bottom: 32px;
  padding-top: 32px;
}

/*
.menu-container {
  position: absolute;
  top: 100%;
  background-color: turquoise;
  padding: 20px;
  text-align: center;
  font-size: 20px;
  &is-open {
    display: block;
  }
}

.menu-button {
  display: inline-block;
  margin: 0;
  padding: 0;
  border: none;
  background-color: var(--active-color);
  &:hover {
    fill: var(--comment-color);
  }
  &:focus {
    fill: var(--comment-color);
  }
}
.menu-button .icon-cross {
  display: none;
}
.menu-button.is-open .icon-cross {
  display: block;
}
.menu-button.is-open .icon-menu {
  display: none;
}*/
.main {
  max-width: 480px;
  margin-right: auto;
  margin-left: auto;
  color: var(--text-color);
  color: var(--active-color);
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("./images/overlay.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 118px;
  padding-bottom: 118px;
  text-align: center;
}

@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .main {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("./");
  }
}

.main .container {
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  align-items: center;
}

.main__title {
  /* max-width: 696px;*/
  max-width: 360px;
  text-align: center;
  font-family: Roboto;
  /* line-height: 1.3636;*/
  line-height: 1.6153;
  /*  font-size: 44px;*/
  font-size: 26px;
  text-transform: uppercase;
  letter-spacing: 0, 06em;
  margin: 0 auto;
  font-style: normal;
  margin-bottom: 40px;
}

.main__button {
  box-sizing: border-box;
  display: inline-block;
  background: var(--web-color);
  color: var(--active-color);
  line-height: 1.875;
  border-radius: 4px;
  margin-bottom: 0;
  padding: 10px 32px;
  text-align: center;
  min-width: 200px;
  height: 50px;
  border: transparent;
  margin-left: 140px;
  margin-right: 140px;
  transition: background-color var(--active-transition);
}

.main__button:hover {
  background-color: var(--order-bottom-active);
}

.main__button:focus {
  background-color: var(--order-bottom-active);
}

.main__button:active {
  background-color: var(--order-bottom-active);
}

.main__button:hover,
.main__button:focus,
.main__button:active {
  background-color: var(--order-bottom-active);
}

@media screen and (min-width: 768px) {
  .main {
    max-width: 768px;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("./images/overlay.jpg");
  }
}

@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .main {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("./images/overlay.jpg");
  }
}

@media screen and (min-width: 1200px) {
  .main {
    max-width: 1600px;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("./images/overlay.jpg");
    padding-top: 200px;
    padding-bottom: 200px;
  }
}

@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .main {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("./images/overlay.jpg");
  }
}

@media screen and (min-width: 1200px) {
  .main__title {
    max-width: 696px;
    font-size: 44px;
    line-height: 1.36;
  }
}

.communication .section {
  padding-top: 60px;
  padding-bottom: 60px;
}

.communication__item {
  margin-bottom: -30px;
  width: 100%;
}

@media screen and (max-width: 480px) {
  .communication__unit {
    width: 100%;
  }
}

.communication__item {
  margin-bottom: -30px;
  margin-left: -30px;
}

@media screen and (min-width: 768px) {
  .communication__item {
    display: flex;
    flex-wrap: wrap;
  }
}

.communication__unit {
  width: 100%;
  margin-bottom: 30px;
  margin-left: 30px;
}

@media screen and (min-width: 768px) {
  .communication__unit {
    flex-basis: calc((100% - 60px) / 2);
  }
}

@media screen and (min-width: 768px) {
  .communication__unit {
    flex-basis: calc((100% - 120px) / 4);
  }
}

.communication__icons {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  margin-bottom: 30px;
  background: #f5f4fa;
  height: 120px;
  /*margin-bottom: 30px;
  margin-bottom: 30px;*/
}

.communication__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 10px;
}

.communication__text {
  font-style: 400;
  font-size: 14px;
  color: var(--main-text-color);
  line-height: 1.7142;
  letter-spacing: 0.03em;
}

.communication__unit:last-child {
  margin-bottom: 0px;
}

.service__title {
  text-align: center;
  font-family: "Roboto";
  font-style: 700;
  line-height: 1.1719;
  font-size: 36px;
  width: 270;
  margin-bottom: 50px;
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
  padding: 0;
}

.communication__icon {
  display: inline-block;
  align-items: center;
  /*  margin-bottom: 30px;*/
  background: #f5f4fa;
  border-radius: 4px;
}

.service {
  padding: 94px 0;
}

.service__section {
  padding-top: 0;
  /* padding: 94px 0;*/
  display: flex;
  justify-content: center;
}

.service__heading {
  text-align: center;
  font-family: "Roboto";
  font-style: 700;
  line-height: 1.1719;
  font-size: 36px;
  width: 270;
  margin-bottom: 50px;
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
  padding: 0;
}

.service__unit {
  margin-right: 30px;
}

.service__unit:last-child {
  margin-right: 0px;
}

.service__image {
  margin-right: 30px;
  display: block;
  width: 100%;
  height: auto;
}

.service__products {
  position: relative;
}

.service__title {
  display: block;
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  padding-top: 27px;
  padding-bottom: 27px;
  text-align: center;
  margin: 0;
  color: var(--products-title);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1721;
  text-transform: uppercase;
  background-color: var(--products-background);
}

.service__item {
  margin: 0;
}

.team {
  background: var(--button-background);
  padding: 60px 0;
}

.team__heading {
  font-style: "Roboto";
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1719;
  padding: 0;
  margin-bottom: 50px;
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
  text-align: center;
}

.team__image {
  /* margin-right: 30px;*/
  width: 100%;
  height: auto;
}

.team__name {
  /* padding: 30px;*/
  padding-bottom: 10px;
  padding-top: 30px;
  background: var(--active-color);
  box-shadow: 0px 1px 3px var(--first-shadow), 0px 1px 1px var(--second-shadow), 0px 2px 1px var(--third-shadow);
  border: 1px solid #ececec;
}

.team__title {
  text-align: center;
  margin-bottom: 10px;
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
}

.team__profession {
  margin: 0;
  color: var(--main-text-color);
  font-family: "Roboto";
  font-weight: 400;
  font-size: 16px;
  line-height: 1.1718;
  text-align: center;
  letter-spacing: 0, 03em;
  color: var(--team--text);
  margin-bottom: 16px;
}

.social {
  /* justify-content: space-around;*/
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  text-align: center;
  justify-content: center;
}

.social__unit {
  /* margin: 0;*/
  margin-right: 10px;
}

.social__unit:last-child {
  margin-right: 0;
}

.social__link {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  width: 44px;
  height: 44px;
  border: none;
  transition: fill var(--active-transition), background-color var(--active-transition);
}

.social__link:hover {
  background: var(--order-bottom-active);
}

.social__link:focus {
  background: var(--order-bottom-active);
}

.social__icon {
  fill: var(--icon-color);
  transition: fill var(--active-transition), background-color var(--active-transition);
}

.social__icon:hover {
  fill: var(--active-color);
  cursor: pointer;
}

.social__icon:focus {
  fill: var(--active-color);
  cursor: pointer;
}

.team__style {
  margin-bottom: 30px;
  border-radius: 0px 0px 4px 4px;
}

.team__style:last-child {
  margin-bottom: 0;
}

@media screen and (min-width: 768px) {
  .team__block {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-top: -30px;
  }
}

@media screen and (min-width: 768px) {
  .team__style {
    flex-basis: calc((100% - 60px) / 2);
    margin-left: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .team__style {
    flex-basis: calc((100% - 120px) / 4);
  }
}

/*0-480*/
.clients {
  padding-top: 60px;
  padding-bottom: 60px;
}

.cliens__item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 106px;
  height: 60px;
}

.clients__title {
  text-align: center;
  margin-bottom: 50px;
  font-size: 36px;
  line-height: 1.1719;
  letter-spacing: 0.03em;
  color: var(--second-color);
}

.clients__icon {
  fill: #afb1b8;
  justify-content: center;
  transition: fill var(--active-transition);
}

.clients__icon:hover {
  fill: var(--web-color);
}

.clients__icon:focus {
  fill: var(--web-color);
}

.clients__unit:hover {
  fill: var(--web-color);
  border-color: var(--web-color);
  cursor: pointer;
}

.clients__unit:focus {
  fill: var(--web-color);
  border-color: var(--web-color);
  cursor: pointer;
}

.clients__unit svg:hover {
  fill: var(--web-color);
  border-color: var(--web-color);
  cursor: pointer;
}

.clients__unit svg:focus {
  fill: var(--web-color);
  border-color: var(--web-color);
  cursor: pointer;
}

.cliens__item:last-child {
  margin-right: 0;
}

.clients__unit {
  height: 92px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--icon-color);
  border-radius: 4px;
  transition: fill var(--active-transition), border-color var(--active-transition);
  margin-left: 30px;
  margin-top: 30px;
}

.clients__list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .clients__unit {
    flex-basis: calc((100% - 60px) / 2);
  }
}

@media screen and (min-width: 768px) {
  .clients__unit {
    flex-basis: calc((100% - 90px) / 3);
  }
}

@media screen and (min-width: 1200px) {
  .clients__unit {
    flex-basis: calc((100% - 180px) / 6);
  }
}

.portfolio__container {
  border: var(--border-color);
  background: var(--active-color);
  font-family: var(--main-font);
  color: var(--text-color);
  font-size: 14px;
  line-height: 1.9;
  font-style: normal;
  justify-content: center;
  width: 100%;
}

.portfolio__unit {
  color: var(--main-text-color);
  margin: 0;
  /*
  padding-right: 24px;
  padding-left: 24px;
  padding-top: 0;
  padding-bottom: 20px;*/
}

.portfolio__title {
  margin: 0;
  /*
  padding-bottom: 4px;
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 20px;*/
}

.portfolio__image {
  display: block;
  width: 370px;
  height: auto;
}

.portfolio__photo:hover,
.portfolio__photo:focus {
  box-shadow: 0px 1px 1px var(--first-shadow), 0px 4px 4px var(--last-shadow), 1px 4px 6px var(--color-shadow);
}

.portfolio__photo:hover {
  box-shadow: 0px 1px 1px var(--first-shadow), 0px 4px 4px var(--last-shadow), 1px 4px 6px var(--color-shadow);
}

.portfolio__photo:focus {
  box-shadow: 0px 1px 1px var(--first-shadow), 0px 4px 4px var(--last-shadow), 1px 4px 6px var(--color-shadow);
}

.portfolio__photo:not(:nth-child(3n)) {
  margin-right: 30px;
}

.portfolio__photo {
  margin-bottom: 30px;
  transition: box-shadow var(--active-transition);
}

.portfolio__box {
  position: relative;
  overflow: hidden;
}

.portfolio__description {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  padding: 63px 24px;
  background-color: var(--active-description);
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio__text {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  display: flex;
  width: 100%;
  height: 100%;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5555;
  letter-spacing: 0.03em;
  color: #ffffff;
  align-items: center;
  padding-left: 24px;
  padding-right: 24px;
  transition: transform var(--active-transition);
}

.portfolio__photo:hover .portfolio__description,
.portfolio__photo:focus .portfolio__description {
  opacity: 1;
  transform: translateY(calc(-50% + 50%));
  cursor: pointer;
}

.portfolio__border {
  border-right: 1px solid var(--portfolio-color);
  border-left: 1px solid var(--portfolio-color);
  border-bottom: 1px solid var(--portfolio-color);
  margin: 0;
  padding: 20px 24px;
}

.button {
  margin-bottom: 40px;
}

.button__type {
  display: inline-block;
  padding: 6px 22px;
  border-radius: 4px;
  color: var(--text-color);
  background-color: #f5f4fa;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  cursor: pointer;
  border-style: none;
  box-shadow: 0px 3px 1px var(--modal-color), 0px 1px 2px var(--active-shadow);
  transition: bacground-color var(--active-transition), color var(--active-transition), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button__type:hover {
  color: var(--active-color);
  background-color: var(--web-color);
}

.button__type:focus {
  color: var(--active-color);
  background-color: var(--web-color);
}

.button__type:hover,
.button__type:focus {
  color: var(--active-color);
  background-color: var(--web-color);
}

.button :not(:last-child) {
  margin-right: 8px;
}

button li {
  box-shadow: 0px 3px 1px var(--modal-color), 0px 1px 2px var(--active-shadow);
}

@media screen and (min-width: 480px) {
  .button {
    direction: column;
  }
}

@media screen and (min-width: 768px) {
  .button {
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
  }
  .portfolio__photo {
    flex-basis: calc((100% - 60px) / 2);
  }
  .portfolio__container {
    display: flex;
    flex-wrap: wrap;
  }
}

@media screen and (min-width: 1200px) {
  .button {
    margin-bottom: 50px;
  }
  .portfolio__photo {
    flex-basis: calc((100% - 90px) / 3);
  }
  .portfolio__container {
    display: flex;
    flex-wrap: wrap;
  }
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--third-shadow);
  transition: opacity var(--active-transition), visibility var(--active-transition);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-height: 581px;
  min-width: 528px;
  background: var(--active-color);
  box-shadow: 0px 1px 3px var(--first-shadow), 0px 1px 1px var(--second-shadow), 0px 2px 1px var(--third-shadow);
  border-radius: 4px;
  transition: background-color var(--active-transition);
}

.modal:hover {
  border-color: 1px solid var(--web-color);
}

.modal:focus {
  border-color: 1px solid var(--web-color);
}

.modal:active {
  border-color: 1px solid var(--web-color);
}

/*
  .modal:hover,
  .modal:focus,
  .modal:active
  {
   border-color: 1px solid var(--web-color);
  }*/
.modal__button {
  position: absolute;
  top: 8px;
  right: 8px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  margin: 0;
  padding: 0;
  border-radius: 50%;
  background: var(--active-color);
  border: 1px solid var(--modal-color);
  fill: var(--web-color);
  cursor: pointer;
}

.modal__close {
  display: block;
  margin: 0;
  width: 18px;
  height: 18px;
  fill: var(--web-color);
}

/*form*/
.form {
  margin-left: 40px;
  margin-right: 40px;
  position: relative;
}

.comment {
  margin-left: 40px;
  margin-right: 40px;
}

.box__title {
  display: block;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.172;
  text-align: center;
  letter-spacing: 0.03em;
  margin-top: 40px;
}

.form__icon {
  display: block;
  position: absolute;
  top: 50%;
  left: 15px;
  transition: fill var(--active-transition);
}

.form__icon:hover {
  fill: var(--decor-color);
  cursor: pointer;
  border-color: var(--decor-color);
}

.form__text {
  display: block;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.1716;
  color: var(--main-text-color);
  margin-bottom: 4px;
  letter-spacing: 0.01em;
  transition: color var(--active-transition);
}

.form__text:hover {
  fill: var(--decor-color);
  cursor: pointer;
  border-color: var(--decor-color);
}

.comment__text {
  display: block;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.1716;
  color: var(--main-text-color);
  margin-bottom: 4px;
  letter-spacing: 0.01em;
  transition: color var(--active-transition);
}

.comment__text:hover {
  fill: var(--decor-color);
  cursor: pointer;
  border-color: var(--decor-color);
}

.form__input {
  display: block;
  width: 408px;
  height: 40px;
  margin-bottom: 10px;
  margin-top: 0;
  padding-left: 42px;
  padding-right: 0;
  border: 1px solid var(--input-color);
  border-radius: 4px;
  cursor: var(--web-color) pointer;
  transition: border-color var(--active-transition);
}

.form__input:focus {
  cursor: pointer;
  border-color: 1px solid var(--decor-color);
  outline-color: var(--decor-color);
}

/*
  .form__icon:hover,
  .comment__text:hover,
  .form__text:hover,
  .form__label:hover,
  .form__input:hover
  {
    fill: var(--decor-color);
    cursor: pointer;
    border-color: var(--decor-color);
  }*/
.form__label:hover {
  fill: var(--decor-color);
  cursor: pointer;
  border-color: var(--decor-color);
}

/*
  .form__input:focus{
    cursor: pointer;
    border-color: 1px solid var(--decor-color);
    outline-color: var(--decor-color);
  }*/
.form__input:focus + .form__icon {
  fill: var(--decor-color);
}

.commentStyle {
  display: block;
  width: 448px;
  height: 120px;
  margin: 12px 16px;
  border-style: none;
  border-radius: 4px;
  outline-style: none;
  transition: border-color var(--active-transition);
}

/*
  .comment__box:hover,
  .comment__box:focus{
   border-color: 1px solid  var(--decor-color);
    outline-color: 1px solid  var(--decor-color);
    cursor: pointer;
  }*/
.comment__box {
  display: block;
  width: 448px;
  height: 120px;
  margin: auto;
  resize: none;
  border: 1px solid var(--input-color);
  box-sizing: border-box;
  border-radius: 4px;
  padding: 12px 16px;
  outline-style: none;
}

.comment__box:hover {
  border-color: 1px solid var(--decor-color);
  outline-color: 1px solid var(--decor-color);
  cursor: pointer;
}

.comment__box:focus {
  border-color: 1px solid var(--decor-color);
  outline-color: 1px solid var(--decor-color);
  cursor: pointer;
}

/*
  .comment__box:hover,
  .comment__box:focus{
   border: 1px solid  var(--decor-color);
   outline-color: 1px solid  var(--decor-color);
  cursor: pointer;
  }*/
.comment__box ::placeholder {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: var(--placeholder-color);
  padding: 12px 16px;
}

/*
  .commentStyle:hover,
  .commentStyle:focus
  {
   border-color: var(--comment-color);
  }
  */
.form__button {
  display: block;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 50px;
  border-radius: 4px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  color: var(--active-color);
  cursor: pointer;
  text-align: center;
  letter-spacing: 0.06em;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 40px;
  border-color: inherit;
  background: var(--order-bottom-active);
  box-shadow: 0px 4px 4px var(--box-shadow);
  transition: background-color var(--active-transition), color var(--active-transition), border-color var(--active-transition), box-shadow var(--active-transition);
}

.form__button:hover {
  background-color: var(--comment-color);
  box-shadow: 0px 4px 4px var(--box-shadow);
}

.form__button:focus {
  background-color: var(--comment-color);
  box-shadow: 0px 4px 4px var(--box-shadow);
}

.form__button:active {
  background-color: var(--comment-color);
  box-shadow: 0px 4px 4px var(--box-shadow);
}

/*
   .form__button:hover,
   .form__button:focus,
   .form__button:active
   {
    background-color: var(--comment-color);
    box-shadow: 0px 4px 4px var(--box-shadow);
   }*/
.check__label {
  margin-top: 20px;
  margin-left: 40px;
  margin-right: 40px;
}

.check__text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7142;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
  margin-left: 9px;
}

.check-option {
  text-decoration: underline;
  color: var(--decor-color);
  font-weight: 400px;
}

.check__box {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.check__icon {
  fill: var(--active-color);
  border: 1px solid var(--second-color);
  border-radius: 2px;
  appearance: none;
  margin: 0;
  padding: 0;
  transition: background-color var(--active-transition), fill var(--active-transition);
}

.check__label {
  margin-right: 9px;
  margin-right: 0;
  display: inline-block;
  display: flex;
  align-items: center;
}

.check__box:checked + .check__icon {
  background-color: var(--decor-color);
  border-radius: 2px;
  background-origin: border-box;
  border-style: none;
  fill: var(--active-color);
  transition: background-color var(--active-transition), fill var(--active-transition);
}

.footer__logo {
  color: var(--web-color);
}

.footer__text {
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  display: block;
  color: var(--text-color);
  color: var(--active-color);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.1738;
  margin-top: 0;
}

.footer__address {
  display: block;
  font-family: "Roboto";
  font-style: 400;
  line-height: 1.7142;
  font-size: 14px;
  letter-spacing: 0.03em;
  margin: 0;
  padding: 0;
  color: var(--active-color);
  font-style: inherit;
  margin-top: 20px;
}

.footer__address p {
  display: block;
  margin: 0;
}

.footer__address {
  display: block;
  font-family: "Roboto";
  font-style: 400;
  line-height: 1.7142;
  font-size: 14px;
  letter-spacing: 0.03em;
  margin: 0;
  padding: 0;
  color: var(--active-color);
  font-style: inherit;
  margin-top: 20px;
}

/*
.footer__address {
  p {
    display: block;
    margin: 0;
  }
}*/
.footer {
  background-color: var(--section-color);
  padding: 60px 0;
  margin: 0;
}

/*
.footer {
  .container {
    display: flex;
  }
}

.footer {
  ul {
    margin: 0;
    padding: 0;
  }
}*/
.footer li {
  font-family: "Roboto";
  font-style: Regular;
  font-size: 14px;
  line-height: 1.7142;
  color: var(--contact-color);
  margin: 0;
  padding: 0;
}

.footer__contact {
  margin-top: 9px;
}

.footer__contacts {
  /* margin-right: 70px;*/
  margin-bottom: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.floor {
  /*  display: inline-block;
  /* margin-right: 93px;*/
  margin-bottom: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.floor__box {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.floor__title {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.1721;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--active-color);
  margin-bottom: 20px;
}

/*
.floor__box {
  margin-left: 93px;
}*/
.floor__link {
  width: 44px;
  height: 44px;
  border-radius: 50% 50%;
  background: var(--link-color);
  margin-right: 10px;
  transition: background-color var(--active-transition);
}

.floor__link {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  width: 44px;
  height: 44px;
  transition: fill var(--active-transition), background-color var(--active-transition);
}

/* outline: 1px dashed red;*/
.floor__link {
  border: none;
}

.floor__link:hover {
  background-color: var(--web-color);
  cursor: pointer;
}

.floor__link:focus {
  background-color: var(--web-color);
  cursor: pointer;
}

/*
.floor__link:focus,
.floor__link:hover {
  background-color: var(--web-color);
  cursor: pointer;
}*/
.floor__icons {
  display: flex;
}

.floor__icon {
  width: 20px;
  height: 20px;
  fill: var(--active-color);
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer__contacts {
    align-items: baseline;
    justify-content: space-around;
  }
  .floor {
    align-items: baseline;
    justify-content: space-around;
  }
  .floor__box {
    margin-left: auto;
    margin-right: auto;
    width: 450px;
  }
}

@media screen and (min-width: 1200px) {
  .footer {
    text-align: left;
  }
  .footer__contacts {
    margin-right: 70px;
    margin-bottom: 0;
  }
  .footer__container {
    display: flex;
  }
  .floor {
    display: flex;
    display: inline-block;
    margin-right: 93px;
  }
  .floor__box {
    margin-left: auto;
  }
}

.sign {
  display: block;
  /* margin-left: 93px;*/
}

/*.user {

  margin: 0;
}*/
.user {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.sign__text h3 {
  display: inline-block;
  margin: 0;
  padding: 0;
  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.user__sign {
  width: 100%;
  display: block;
  /* width: 358px;
margin-right: 12px;
  padding-left: 16px;*/
  width: 100%;
  height: 50px;
  margin-bottom: 20px;
  color: var(--contact-color);
  background-color: var(--user-background);
  border-style: none;
  border: 1px solid var(--user-border);
  filter: drop-shadow(0px 4px 4px var(--box-shadow));
  border-radius: 4px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  cursor: pointer;
  transition: border-color var(--active-transition), drop-shadow var(--active-transition), color var(--active-transition);
}

.user__sign:hover {
  border-color: var(--decor-color);
}

.user__sign:focus {
  border-color: var(--decor-color);
}

.user__sign:active {
  border-color: var(--decor-color);
}

/*
.user__sign:hover,
.user__sign:focus-within,
.user__sign:active {
  border-color: var(--decor-color);
}*/
.sign__button {
  /*display: inline-block;*/
  display: block;
  align-items: center;
  width: 200px;
  height: 50px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  color: var(--active-color);
  border-style: none;
  background: var(--web-color);
  letter-spacing: 0.06em;
  box-shadow: 0px 4px 4px var(--box-shadow);
  border-radius: 4px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 29px;
  padding-right: 0;
  margin: 0;
  cursor: pointer;
  transition: background-color var(--active-transition), color var(--active-transition);
}

.sign__button:hover {
  background-color: var(--decor-color);
}

.sign__button:focus {
  background-color: var(--decor-color);
}

.sign__button:active {
  background-color: var(--decor-color);
}

/*
.sign__button:hover,
.sign__button:focus,
.sign__button:active {
  background-color: var(--decor-color);
}*/
.sign__icon {
  fill: var(--active-color);
  margin-left: 10px;
}

/*mobile-button*/
.menu-opener-btn {
  border: none;
  background-color: transparent;
  cursor: pointer;
  padding: 10px 0;
  line-height: 0;
}

.menu-opener-btn__icon {
  fill: var(--titles-text-color);
  transition: fill 250ms var(--timing-func);
}

.menu-opener-btn__icon:hover, .menu-opener-btn__icon:focus {
  fill: var(--accent-color);
}

@media screen and (min-width: 768px) {
  .menu-opener-btn {
    display: none;
  }
}

/*mobile-menu
*/
.mobile-menu__backdrop.is-open {
  visibility: visible;
  pointer-events: auto;
  opacity: 1;
}

.mobile-menu__backdrop.is-close {
  transition: visibility 250ms linear 250ms, pointer-events 250ms linear 250ms, opacity 250ms linear 250ms;
  visibility: hidden;
  pointer-events: none;
  opacity: 0;
}

.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--alternate-logo-color);
  overflow: auto;
  transform: translateY(-100%);
  transition: transform 250ms var(--timing-func) 125ms;
}

.mobile-menu__backdrop.is-open .mobile-menu {
  transform: translateY(0);
}

.mobile-menu__backdrop.is-close .mobile-menu {
  transition: transform 250ms var(--timing-func);
}

.mobile-menu__container {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
  padding-top: 48px;
  padding-bottom: 48px;
  padding-left: 40px;
  padding-right: 40px;
}

.mobile-menu__close-btn {
  position: absolute;
  top: 10px;
  right: 15px;
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
  line-height: 0;
  transform: scale(0);
  transition: transform 250ms var(--timing-func) 375ms;
}

.mobile-menu__backdrop.is-open .mobile-menu__close-btn {
  transform: scale(1);
}

.mobile-menu__close-icon {
  fill: var(--titles-text-color);
  transition: fill 250ms var(--timing-func);
}

.mobile-menu__close-icon:hover, .mobile-menu__close-icon:focus {
  fill: var(--accent-color);
}

.mobile-menu__contacts {
  margin-top: auto;
  margin-bottom: 64px;
  font-weight: 500;
  letter-spacing: 0.02em;
}

.mobile-menu__phone-link {
  margin-bottom: 32px;
  font-size: 34px;
  line-height: 1.18;
  color: var(--accent-color);
}

.mobile-menu__phone-link:hover, .mobile-menu__phone-link:focus {
  color: var(--accent-color);
}

.mobile-menu_mail-link {
  font-size: 24px;
  line-height: 1.17;
  color: var(--primary-text-color);
}

.mobile-menu_mail-link:hover, .mobile-menu_mail-link:focus {
  color: var(--accent-color);
}

@media screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
  .mobile-menu__backdrop {
    display: none;
  }
}
/*# sourceMappingURL=main.css.map */