

.cliens__item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 92px;
  display: flex;

}
.clients__title {
  text-align: center;
  margin-bottom: 30px;
  font-size: 28px;
  line-height: 1.1719;
  letter-spacing: 0.03em;
  color: var(--second-color);
}

.clients__icon {
  display: block;
  width: 106px;
  height: 60px;
  fill: #afb1b8;
  justify-content: center;
  transition: fill var(--active-transition);
  &:hover {
    fill: var(--web-color);
  }
  &:focus {
    fill: var(--web-color);
  }
}
.clients__unit {
  &:hover {
    fill: var(--web-color);
    border-color: var(--web-color);
    cursor: pointer;
  }
  &:focus {
    fill: var(--web-color);
    border-color: var(--web-color);
    cursor: pointer;
  }
  svg {
    &:hover {
      fill: var(--web-color);
      border-color: var(--web-color);
      cursor: pointer;
    }
  }
  svg {
    &:focus {
      fill: var(--web-color);
      border-color: var(--web-color);
      cursor: pointer;
    }
  }
}

.cliens__item:last-child {
  margin-right: 0;
}

.clients__unit {
  height: 92px;

  display: flex;
  justify-content: center;

  align-items: center;
  border: 1px solid var(--icon-color);
  border-radius: 4px;
  transition: fill var(--active-transition),
    border-color var(--active-transition);
  margin-left: 30px;
  margin-top: 30px;
}

.clients__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-left: -30px;
  margin-top: -30px;
}

@media screen and (min-width: 480px) {
  .clients__unit {
    flex-basis: calc((100% - 60px) / 2);
  }
}
@media screen and (min-width: 768px) {
  .clients__unit {
    flex-basis: calc((100% - 90px) / 3);
  }
}

@media screen and (min-width: 1200px) {
  .clients__unit {
    flex-basis: calc((100% - 180px) / 6);
  }
}
