
.communication {
  .section {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-top: -30px;
   
  }
}

.communication__item {
  margin-bottom: -30px;
}

.communication__unit {
  width: 100%;
  margin-bottom: 30px;
  margin-left: 30px;


}

@media screen and (max-width: 480px) {
  .communication__unit {
    width: 100%;
  }
}
@media screen and (min-width: 768px) {
  .communication__unit {
    flex-basis: calc((100% - 60px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .communication__unit {
    flex-basis: calc((100% - 120px) / 4);
  }
}

.communication__icons {
  display: flex;
  -webkit-box-align: center;

  justify-content: center;
  border-radius: 4px;
  margin-bottom: 30px;
  background: #f5f4fa;
  height: 120px;
  

  /*margin-bottom: 30px;
  margin-bottom: 30px;*/
}

.communication__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 10px;
}

.communication__text {
  font-style: 400;
  font-size: 14px;
  color: var(--main-text-color);
  line-height: 1.7142;
  letter-spacing: 0.03em;
}

.communication__unit:last-child {
  margin-bottom: 0px;
}

.service__title {
  text-align: center;
  font-family: "Roboto";
  font-style: 700;
  line-height: 1.1719;
  font-size: 36px;
  width: 270;
  margin-bottom: 50px;
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
  padding: 0;
}

.communication__icon {


  /*  margin-bottom: 30px;*/
  background: #f5f4fa;
  border-radius: 4px;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;

}
