.communication {
  .section {
    /*future-list*/
    /* display: flex;*/
    /*justify-content: space-between;*/

    /* margin: 0;*/
    padding-top: 60px;
    padding-bottom: 60px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    align-items: center;
    justify-content: center;
  }
}
.communication__icons {
  width: 100%;

  justify-content: center;
  align-items: center;
  /*margin-bottom: 30px;
  margin-bottom: 30px;*/
  background: #f5f4fa;
  border-radius: 4px;
  margin-bottom: 30px;
}
/*.communication__item {
  justify-content: center;
}*/
.communication__unit {
  /*item*/
  /* width: 270px;*/
  width: 100%;
  margin-bottom: 30px;
  justify-content: center;
  align-items: center;
}
.communication__title {
  text-transform: uppercase;
  line-height: 1.1721;
  margin-bottom: 10px;
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
  padding: 0;
  font-family: "Roboto";
  font-size: 14px;
  font-style: 700;
  line-height: 1.1721;
  color: var(--text-color);
  text-align: center;
  text-transform: uppercase;
  color: var(--text-color);
}

.communication__text {
  margin: 0;
  padding: 0;
  font-family: "Roboto";
  font-style: 400;
  font-size: 14px;
  color: var(--main-text-color);
  line-height: 1.7142;
  text-align: center;
}

/*.communication__unit:last-child {
  margin-right: 0px;
}*/

.communication__unit:last-child {
  margin-bottom: 0px;
}

.service__title {
  text-align: center;
  font-family: "Roboto";
  font-style: 700;
  line-height: 1.1719;
  font-size: 36px;
  width: 270;
  margin-bottom: 50px;
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
  padding: 0;
}

.communication__icon {
  /* display: flex;*/
  display: block;
  width: 100%;
  justify-content: center;
  align-items: center;
  /*  margin-bottom: 30px;*/

  background: #f5f4fa;
  border-radius: 4px;
}
