.header {
  box-sizing: border-box;
  border-bottom: 1px solid #ececec;
  font-weight: 700;
  font-family: "Roboto";
  font-size: 14px;
  line-height: 1.1721;
  letter-spacing: 0.03em;
  background: var(--active-color);
  color: var(--text-color);
  margin: 0 auto;
  align-items: baseline;

}


.navigation {
  display: flex;
}
.navigation__box {
  
  display: none;
  @media screen and (min-width:768px){
  display: flex;  
  }

}
.navigation__unit,
.navigation__connection {
  margin-right: 50px;
  transition: var(--active-transition);
}
.navigation {
  a {
    display: inline-block;
    margin: 0;
    padding-bottom: 32px;
    padding-top: 32px;
  }
}

.header {
  .nav {
    a {
      display: flex;
      align-items: center;
      margin-top: 0;
      margin-bottom: 0;
      padding-bottom: 32px;
      padding-top: 32px;
    }
  }
}
.header {
  a {
    display: inline-block;
  }
}

.navigation__logo {
  color: var(--web-color);
}

  .navigation__text {
    display: block;
    font-family: var(--accent-font);
    // padding-top: 16px;
    // padding-bottom: 16px;
    margin-right: 88px;
    margin-top: 0;
    margin-left: 0;
    margin-bottom: 0;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.1738;


  
}

.navigation__connection {
  position: relative;
}
.navigation__connection::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: var(--decor-color);
  border-radius: 2px;
  width: 100%;
  height: 4px;
}

.header {
  .container {
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
    padding-bottom: 10px;
    align-items: center;
  }
}

.container {
  .navigation {
    li:last-child {
      margin-right: 0px;
    }
  }
}
.container {
  .nav {
    li:last-child {
      margin-right: 0px;
    }
  }
}

.navigation__link {
  color: var(--web-color);
  transition: color var(--active-transition);
  font-size: 14px;
  font-weight: 500;

}

.navigation__connection {
  &:hover {
    color: var(--web-color);
    cursor: pointer;
  }
  &:focus {
    color: var(--web-color);
    cursor: pointer;
  }
}
.navigation__unit {
  &:hover {
    color: var(--web-color);
    cursor: pointer;
  }
  &:focus {
    color: var(--web-color);
    cursor: pointer;
  }
}

.navigation__link {
  &:hover {
    color: var(--web-color);
    cursor: pointer;
  }
  &:focus {
    color: var(--web-color);
    cursor: pointer;
  }
  &:active {
    color: var(--web-color);
    cursor: pointer;
  }
}

.nav {
  
  justify-content: center;
  margin-right: 0;
  padding: 0;
  line-height: 1.17;
  font-weight: 500;
  letter-spacing: 0.02em;
  margin-left: auto;
  color: var(--main-text-color);
  align-items: center;
  display: none;
  @media screen and (min-width:768px){
    display: flex;  
    flex-direction: column;
    }
}

.nav__contacts {
  display: flex;
  transition: var(--active-transition);
  align-items: center;
  font-size: 12px;
  font-weight: 500;


}

.nav :not(:last-child) {
  margin-right: 50px;
}

.nav__contacts {
  &:hover {
    color: var(--web-color);
    cursor: pointer;
  }
  &:focus {
    color: var(--web-color);
    cursor: pointer;
  }
  &:active {
    color: var(--web-color);
    cursor: pointer;
  }
}
.nav__icon {
  margin-right: 10px;
  fill: currentColor;
}
