
  .main {
    max-width: 480px;
    margin-right: auto;
    margin-left: auto;
     color: var(--text-color);
  color: var(--active-color);
   
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url("./images/overlay.jpg");
  
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 118px;
    padding-bottom: 118px;
    text-align: center;
  
    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: linear-gradient(
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url('./');
    }
  }




.main {
  .container {
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    align-items: center;
  }
}
.main__title {
  /* max-width: 696px;*/
  max-width: 360px;
  text-align: center;
  font-family: Roboto;
  /* line-height: 1.3636;*/
  line-height: 1.6153;
  /*  font-size: 44px;*/
  font-size: 26px;
  text-transform: uppercase;
  letter-spacing: 0, 06em;
  margin: 0 auto;
  font-style: normal;
  margin-bottom: 40px;
}

.main__button {
  box-sizing: border-box;
  display: inline-block;
  background: var(--web-color);
  color: var(--active-color);
  line-height: 1.875;
  border-radius: 4px;
  margin-bottom: 0;
  padding: 10px 32px;
  text-align: center;
  min-width: 200px;
  height: 50px;
  border: transparent;
  margin-left: 140px;
  margin-right: 140px;

  transition: background-color var(--active-transition);

  &:hover {
    background-color: var(--order-bottom-active);
  }
  &:focus {
    background-color: var(--order-bottom-active);
  }
  &:active {
    background-color: var(--order-bottom-active);
  }
}

.main__button:hover,
.main__button:focus,
.main__button:active {
  background-color: var(--order-bottom-active);
}

@media screen and (min-width: 768px) {
  .main {
    max-width: 768px;
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url("./images/overlay.jpg");

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: linear-gradient(
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url("./images/overlay.jpg");
    }
  }
}

@media screen and (min-width: 1200px) {
  .main {
    max-width: 1600px;
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url("./images/overlay.jpg");
    padding-top: 200px;
    padding-bottom: 200px;

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: linear-gradient(
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url("./images/overlay.jpg");
    }
  }

  .main__title {
    max-width: 696px;
    font-size: 44px;
    line-height: 1.36;
  }
}