:root {
  --text-color: #212121;
  --active-color: #ffffff;
  --section-color: #2f303a;
  --web-color: #2196f3;
  --contact-color: rgba(255, 255, 255, 0.6);

  --main-font: "Roboto";
  --accent-font: "Raleway";
  --button-background: #f5f4fa;
  --border-color: #ececec;
  --main-text-color: #757575;
  --order-bottom-active: #188ce8;
  --icon-color: #afb1b8;
  --second-color: rgba(33, 33, 33, 1);
  --portfolio-color: #eeeeee;
  --link-color: rgba(255, 255, 255, 0.1);

  --products-title: rgba(255, 255, 255, 1);
  --products-background: rgba(47, 48, 58, 0.8);
  --active-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  --decor-color: rgba(33, 150, 243, 1);
  --box-shadow: rgba(0, 0, 0, 0.15);
  --user-background: rgba(47, 48, 58, 1);
  --user-border: rgba(255, 255, 255, 0.3);
  --comment-color: rgba(24, 140, 232, 1);
  --placeholder-color: rgba(117, 117, 117, 0.5);
  --input-color: rgba(33, 33, 33, 0.2);
  --modal-color: rgba(0, 0, 0, 0.1);
  --active-description: rgba(33, 150, 243, 0.9);
  --active-shadow: rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  --third-shadow: rgba(0, 0, 0, 0.2);
  --first-shadow: rgba(0, 0, 0, 0.12);
  --second-shadow: rgba(0, 0, 0, 0.14);
  --last-shadow: rgba(0, 0, 0, 0.06);
  --color-shadow: rgba(0, 0, 0, 0.16);
  --team--text: rgba(117, 117, 117, 1);
}
